* {
	color: white;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-align: center;
}

html {

	background-color: black;
	background: url("nnnoise.svg"), url("ffflux.svg") no-repeat center fixed, url('bg.gif') no-repeat center fixed;
	background-size: cover;
	background-blend-mode: overlay;

}

a {
	padding: 6px 12px;
	border: 2px solid white;
	border-radius: 36px;
	background-color: white
	text-decoration: none;
	transition: border-radius 0.5s;
}

a:hover {
	border-radius: 0px;
}

body {
	margin: auto;
	width: 80%;
}

header, footer {
	padding-top: 32px;
	height: 100px;
}

main {
	height: 480px;
}

#home {
	float: left;
}

#cookienotice {
	float: right;
}
