* {
	background-color: black;
	color: white;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-align: center;
}
html {
	margin: auto;
	width: 80%;
}

header, footer {
	padding-top: 32px;
	height: 100px;
}

main {
	height: 480px;
}

#home {
	float: left;
}

#cookienotice {
	float: right;
}
